.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(50, 50, 50, 0.75);
    z-index: 3000;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .dialog-box {
        height: 200px;
        width: 400px;
        background: #fff;
        border-radius: 4px;
        position: absolute;

        &-header {
            display: flex;
            width: calc(100% - 20px);
            padding: 10px;

            &>.close-btn {
                width: 40px;
                color: #e05555;

            }

            &>.title {
                width: calc(100% - 40px);
                text-align: center;
                margin-left: -20px;
            }
        }

        &-content {
            padding: 10px;
            height: calc(100% - 122px);
            width: calc(100% - 20px);
        }

        &-footer {
            position: absolute;
            bottom: 0px;
            display: flex;
            flex-direction: row-reverse;
            width: calc(100% - 20px);
            padding: 10px;
        }
    }
}